@font-face {
    font-family: fulbo-argenta;
    src: url(../assets/fonts/fulbo-argenta.otf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.top
{
    display: flex;
    justify-content: space-between;
    background-color: #005C78;
    align-items: center;
}

.top img
{
    margin-right: 40px;
    filter: drop-shadow(0 0 10px #000000c9);
    aspect-ratio: 1/1;
    height: 6em;
}

.top_left
{
    font-size: 3em;
    font-family: fulbo-argenta;
    color: #F3F7EC;
}

.top_left a
{
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

.top_left a.cPage
{
    cursor: pointer;
    background-color: #F3F7EC;
    color: #005C78;
}

main
{
    background-color: #F3F7EC;
    display: grid;
    grid-template-columns: 1fr 10fr;
    width: 100vw;
}

.side
{
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 12vw;
    gap: 30px;
}

.side button, .button4_side
{
    cursor: pointer;
    padding: 10px;
    color: #F3F7EC;
    font-size: 2em;
    font-family: fulbo-argenta;
    background-color: #E88D67;
    border-radius: 22px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button4_side label
{
    cursor: pointer;
}

input[type=number]
{
    cursor: pointer;
    width: 1em;
    color: #F3F7EC;
    font-size: 1em;
    font-family: fulbo-argenta;
    border: none;
    background-color: #E88D67;
}

.side img:last-child
{
    cursor: pointer;
    justify-self: center;
    width: 9vw;
    height: 12vw;
}

.gameArea
{
    display: grid;
    grid-template-columns: 5fr 4fr;
    margin: 30px;
    margin-left: 0;
    background-color: #F2CFC1;
    border-radius: 50px;
}

.game
{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.game_row2
{
    justify-items: center;
    align-items: center;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 20px;
}

.game_row2 button
{
    cursor: pointer;
    height: 100px;
    width: 70px;
    background-color: #E88D67;
    border: none;
    border-radius: 15px;
}

.user_cards
{
    border-radius: 10px;
    padding: 10px;
    background-color: #005C78;
    height: 16em;
    align-self: stretch;
    justify-self: stretch;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 15em;
}

.game_row2 svg
{
    cursor: pointer;
    fill: black;
    height: 60px;
    width: 60px;
    transform: rotate(-90deg);
}

.user_cards img
{
    cursor: pointer;
    align-self: flex-end;
    height: 12em;
    width: 9em;
}

.user_cards img.selectedCard
{
    align-self: flex-start;
}

.game_row1
{
    padding: 30px;
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: center;
}

.current_status img
{
    height: 8em;
    width: 6em;
}

.current_card
{
    border-radius: 10px;
    height: 12em;
    width: 9em;
}

.color_buttons
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.color_buttons button
{
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

.red_choice
{
    background-color: #EB5353;
}

.green_choice
{
    background-color: #36AE7C;
}

.yellow_choice
{
    background-color: #F9D923;
}

.blue_choice
{
    background-color: #187498;
}

.computer_players
{
    margin: 30px;
    background-color: #E88D67;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.cplayer
{
    height: 150px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:20px;
}

.cplayer_number
{
    font-family: fulbo-argenta;
    color: #F3F7EC;
}

.cplayer_text
{
    padding: 10px;
    border-radius: 10px;
    background-color: #005C78;
    color:#F3F7EC;
}

.cplayer_cards
{
    background-color: #005C78;
    display: grid;
    padding: 10px;
}

.cplayer_cards img
{
    height: 8em;
    align-self: flex-end;
}

.info_area
{
    margin-top: 50px;
    margin-left: 110px;
    position: absolute;
    z-index: 5;
}

.info_box
{
    width: fit-content;
    font-family: fulbo-argenta;
    color: #005C78;
    background-color: #F3F7EC;
    border-radius: 10px;
    font-size: 1.9em;
    padding: 10px;
    box-shadow: 0 0 10px #000000c9;
    margin-bottom: 20px;
}